<nav class="navbar navbar-expand-lg head">
  <a class="navbar-brand page-name" href="#">POKEMON TRAINER</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item h4">
        <a class="nav-link start" href="/start">Start page</a>
      </li>
      <li class="nav-item h4">
        <a class="nav-link" href="/trainer">Trainer</a>
      </li>
      <li class="nav-item h4">
        <a class="nav-link" href="/catalogue">Catalogue</a>
      </li>
    </ul>
  </div>
  <a class="navbar-brand" href="#" (click)="logOut()">Log out</a>
</nav>