.head {
  background-color: rgb(255, 203, 5);
}

.page-name {
  font-family: 'Bangers', cursive;
  font-size: xx-large;
  margin-left: 20px;
  transform: rotate(-10deg);
}

ul li {
  margin-right: 10px;
}

.start {
  margin-left: 20px;
}