    <div class="container-lg row align-items-center">
        <div class="text-center">
            <span *ngIf="isLogging">Logging in..</span>&nbsp;
            <span *ngIf="isLogging" class="spinner-border" role="status"></span>
            <form #loginUser="ngForm" (ngSubmit)="onLoginClick(loginUser.value.username)" class="input-group mt-5">
                <input class="form-control form-control-lg" type="text" id="usename" name="username" placeholder="Please type your username" ngModel #username="ngModel">
                <button type="submit" class="btn btn-primary btn-warning btn-lg">Login</button>
            </form>
        </div>
    </div>

