<div class="container" >
  <div class="row" >
    <div style="text-align: center;" class="col-md-3 col-sm-4 col-xs-6 pokemon"
    (click)="addPokemonToTrainer(pokemon.id)"
    *ngFor="let pokemon of pokemons"
    [ngClass]="{'collected': pokemonIsCollected(pokemon.id)}">
      <h4>{{ pokemon.name }}</h4>
      <img src="{{pokemon.imageURL}}" />

      <!-- Image from https://pixabay.com/vectors/pokemon-pokeball-pokemon-go-1536849/ (no credits required) -->
      <img class="pokeball" *ngIf="pokemonIsCollected(pokemon.id)" src="/assets/pokeball.png" />

      <!-- <button >Catch pokemon!</button> -->
      <button (click)="loadPokemonInfo(pokemon.id)">More info</button>

      <div *ngIf="pokemon.info" class="info">
        <table>
          <tr>
            <th>Height</th>
            <th>Weight</th>
          </tr>
          <tr>
            <td>{{pokemon.info.height}}</td>
            <td>{{pokemon.info.weight}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<div style="text-align: center;">
  <button (click)="loadMorePokemons()">Load more</button>
  <div *ngIf="loadingPokemons" class="spinner-border" role="status"></div>
</div>

